services:

  # -------------------- MINIO --------------------
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data
    networks:
      - data-net

  # -------------------- NIFI --------------------
  nifi:
    image: apache/nifi:1.25.0
    container_name: nifi
    ports:
      - "8443:8443"
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin123wisdom
    volumes:
      - nifi_conf:/opt/nifi/nifi-current/conf
      - nifi_data:/opt/nifi/nifi-current/data
    networks:
      - data-net
    depends_on:
      - minio

  # -------------------- POSTGRES --------------------
  postgres:
    image: postgres:14
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - data-net

  # -------------------- OPENMETADATA --------------------
  openmetadata:
    image: openmetadata/server:latest
    container_name: openmetadata
    depends_on:
      - postgres
    ports:
      - "8585:8585"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=metadata
      - DB_PASSWORD=metadata
      - DB_NAME=metadata_db
      - DB_SCHEME=postgresql
      - DB_DRIVER_CLASS=org.postgresql.Driver
    networks:
      - data-net

  # -------------------- TRINO --------------------
  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8081:8080"
    volumes:
      - ./trino/etc:/etc/trino:ro
    networks:
      - data-net
    depends_on:
      - minio

  # -------------------- SPARK --------------------
  spark:
    build: ./spark
    container_name: spark
    command: [ "/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master" ]
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark:/opt/spark-apps
    networks:
      - data-net

  # -------------------- SUPERSET --------------------
  superset:
    image: apache/superset:latest
    container_name: superset
    user: "root"
    ports:
      - "8088:8088"
    environment:
      - SUPERSET_SECRET_KEY=wisdom_secret_key_2026
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
    volumes:
      - superset_data:/app/superset_home
    networks:
      - data-net
    # Initialisation de Superset
    command: >
      sh -c "pip install --no-cache-dir --target /app/.venv/lib/python3.10/site-packages trino sqlalchemy-trino &&
            superset db upgrade &&
            superset fab create-admin --username admin --firstname Superset --lastname Admin --email admin@wisdom.com --password admin || true &&
            superset init &&
            /usr/bin/run-server.sh"

# -------------------- NETWORK --------------------
networks:
  data-net:

    # -------------------- VOLUMES --------------------
volumes:
  minio_data:
  nifi_data:
  nifi_conf:
  postgres_data:
  superset_data:
