services:

  # -------------------- MINIO --------------------
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data
    networks:
      - data-net

  # -------------------- NIFI --------------------
  nifi:
    image: apache/nifi:1.25.0
    container_name: nifi
    ports:
      - "8443:8443"
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin123wisdom
    volumes:
      - nifi_data:/opt/nifi/nifi-current/data
    networks:
      - data-net
    depends_on:
      - minio

  # -------------------- POSTGRES --------------------
  postgres:
    image: postgres:14
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - data-net

  # -------------------- OPENMETADATA --------------------
  openmetadata:
    image: openmetadata/server:latest
    container_name: openmetadata
    depends_on:
      - postgres
    ports:
      - "8585:8585"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=metadata
      - DB_PASSWORD=metadata
      - DB_NAME=metadata_db
    networks:
      - data-net

  # -------------------- SPARK --------------------
  spark:
    build: ./spark
    container_name: spark
    command: [ "/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master" ]
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark:/opt/spark-apps
    networks:
      - data-net

# -------------------- NETWORK --------------------
networks:
  data-net:

    # -------------------- VOLUMES --------------------
volumes:
  minio_data:
  nifi_data:
  postgres_data:
